<TABLE cellSpacing=0 cellPadding=0 width="800px" border=0>
  <TR><TD class="TdDarkBlueContainer"  vAlign=top align=center> 登录 </td></tr>
  <TR><TD class="TdLightContainer" vAlign=top >
    <table  class="tableLogin" width="400" cellpadding="3" cellspacing="1" border="0"  align=center>
      
      <%=form_for(:session , :url=>sessions_path) do |f|%>
      <tr>
        <td width="150"  class="forumRow" height=23 align="right">Email :&nbsp;</td>
        <td  class="forumRow" align="left">&nbsp;<%=f.text_field :email%></td>
      </tr>
      <tr>
        <td width="150"  class="forumRow" height=23 align="right">密码 :&nbsp;</td>
        <td  class="forumRow" align="left">&nbsp;<%=f.password_field :password%></td>
      </tr>
      <tr><td  class="forumRowHighlight" height=23 colspan=2 align=center>
        <%=f.submit "进入"%> 
        &nbsp;&nbsp;<%=link_to "注册新账号",signup_path%>
      </td></tr>
      <%end%>
			<tr><td height=23 colspan=2 align="center">&nbsp;
            <div class="DivBottomBorderline"></div></td>
      </tr>
      <tr><td class="forumRow" height=23 colspan=2>
        &nbsp;<br><br><br><br>
      </td></tr>
    </table>
    </td>
  </tr>
</table>