<TABLE cellSpacing=0 cellPadding=0 width="800px" border=0>
  <TR><TD class="TdDarkBlueContainer"  vAlign=top align=center> 注册 </td></tr>
  <TR><TD class="TdLightContainer" vAlign=top  align=center>
    <table  class="tableLogin"  cellpadding="3" cellspacing="1" border="0"  align=center>
      <%= form_for(@user) do |f| %>
			<tr><td class="forumRowHighlight"  colspan=2 align=left>
				<%= render "shared/error_messages" , :object=>f.object%>
      </td></tr>
			
      <tr>
        <td class="forumRow"  align="right">Email :&nbsp;</td>
        <td  class="forumRow" align="left"><%=f.text_field :email%></td>
      </tr>
      <tr>
        <td class="forumRow" align="right">Password :&nbsp;</td>
        <td class="forumRow" align="left"><%=f.password_field :password%></td>
      </tr>
      <tr>
        <td class="forumRow" align="right"><%= f.label :password_confirmation, "Confirmation" %> :&nbsp;</td>
        <td  class="forumRow" align="left"><%=f.password_field :password_confirmation%></td>
      </tr>
      <tr><td class="forumRowHighlight"  colspan=2 align=center>
        <%= f.submit @action_title %>
      </td></tr>
      <%end%>
      <tr><td colspan=2 align="center">&nbsp;
            <div class="DivBottomBorderline"></div></td>
      </tr>
      <tr><td class="forumRow" height=23 colspan=2>
        
				<br>
      </td></tr>
    </table>
    </td>
  </tr>
</table>

