  <TABLE cellSpacing=0 cellPadding=0 width="100%"  bgcolor="#8f7d59" >
          <TR>
            <TD class="DarkTh" vAlign=top>&nbsp;我的书房</td>
          </tr>
          <TR>
            <TD  vAlign=top class="LightContainerTD">
              <%= link_to "我的资料", current_user %><br>
              <%= link_to "收藏列表", current_user %><br>
              <%= link_to "评论列表", current_user %><br>
              <div class="BottomBorderlineDiv"></div><br>
            </td>
          </tr>
        </table>
        
        <TABLE cellSpacing=0 cellPadding=0 width="100%"  bgcolor="#8f7d59" >
          <TR>
            <TD class="DarkTh" vAlign=top>&nbsp;作品管理</td>
          </tr>
          <TR>
            <TD  vAlign=top class="LightContainerTD">
              <%= link_to "作者信息", current_user %><br>
              <%= link_to "作品列表", current_user %><br>
              <%= link_to "评论列表", current_user %><br>
              <div class="BottomBorderlineDiv"></div>
            <br>
            </td>
          </tr>
        </table>
        
        <TABLE cellSpacing=0 cellPadding=0 width="100%"  bgcolor="#8f7d59" >
          <TR>
            <TD class="DarkTh" vAlign=top>&nbsp;网站管理</td>
          </tr>
          <TR>
            <TD  vAlign=top class="LightContainerTD">
              <%= link_to "会员列表", current_user %><br>
              <%= link_to "作品列表", current_user %><br>
              <%= link_to "评论管理", current_user %><br>
              <%= link_to "分类管理", current_user %><br>
              <%= link_to "网站信息", current_user %><br>
              <div class="BottomBorderlineDiv"></div>
            <br>
            </td>
          </tr>
        </table>