<tr>
    <td><%=category.id%></td>
    <td><%=category.title%></td>
    <td><%=category.description%></td>
    <td><%=category.sequence%></td>
    <td><%=category.show_on_header%></td>
    <td><%=link_to 'edit',edit_category_path(category)%></td>
</tr>