<tr>
    <td class="forumRow"><%=category.id%></td>
    <td class="forumRow"><%=category.parent_id%></td>
    <td class="forumRow"><%=category.title%></td>
    <td class="forumRow"><%=category.description%></td>
    <td class="forumRow"><%=category.sequence%></td>
    <td class="forumRow"><%=category.show_on_header%></td>
    <td class="forumRow"><%=link_to 'edit',edit_maintain_category_path(category)%></td>
</tr>