<tr>
    <td class="forumRow"><%=lookup.id%></td>
    <td class="forumRow"><%=link_to lookup.code,maintain_lookup_path(lookup)%></td>
    <td class="forumRow"><%=lookup.category%></td>
    <td class="forumRow"><%=lookup.description%></td>
    <td class="forumRow"><%=link_to 'edit',edit_maintain_lookup_path(lookup)%></td>
</tr>