<TABLE cellSpacing=0 cellPadding=5 width="100%" border=1 >
  <TR><TD class="TdDarkBlueContainer" align="center" vAlign=top ><%=@book.title%></td></tr>
  <tr style="font-weight:bold;"><td>
    <%=link_to "Edit",edit_maintain_book_path%>
    All click:<%=@book.all_click%>
    Category:<%=@book.category.title%>
  </td></tr>
  <tr><td align="center" >
    <%=link_to 'Sections',maintain_book_sections_path(@book)%>
  </td></tr>

</table>