<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <img src="/images/firstpage.gif" border=0 >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="">book</span>
        <br><br>
<table width="100%" cellSpacing=0 cellPadding=5  border=0 align=center >
		<tr>
			<td class="titlegray" align=center>
		      <%= link_to "首页", root_path %>&nbsp;
		      <%= link_to "小说小读", root_path %>&nbsp;
		      <%= link_to "治身齐家", root_path %>&nbsp;
		      <%= link_to "云在青天", root_path %>&nbsp;
		      <%= link_to "浅吟低酌", root_path %>&nbsp;
		      <%= link_to "排行榜", root_path %>&nbsp;
		      <%if signed_in? %>
		      <%=link_to "我的书房",current_user%>&nbsp;
		      <%= link_to "退出", signout_path , :method =>:delete %>&nbsp;
		      <%else %>
		      <%=link_to "登录",signin_path %>&nbsp;
		      <%end%>
			</td>
		</tr>
</table>
