  <TABLE cellSpacing=0 cellPadding=0 width="100%"  bgcolor="#8f7d59" >
          <TR>
            <TD class="DarkTh" vAlign=top>&nbsp;my study</td>
          </tr>
          <TR>
            <TD  vAlign=top class="forumRow">
              <%= link_to "my profile", '/maintain/user_info' %><br>
              <%= link_to "favourites", '#' %><br>
              <%= link_to "comments", '#' %><br>
              <div class="BottomBorderlineDiv"></div><br>
            </td>
          </tr>
        </table>
        
        <TABLE cellSpacing=0 cellPadding=0 width="100%"  bgcolor="#8f7d59" >
          <TR>
            <TD class="DarkTh" vAlign=top>&nbsp;book manage</td>
          </tr>
          <TR>
            <TD  vAlign=top class="forumRow">
              <%= link_to "author info", '/maintain/author_info' %><br>
              <%= link_to "book list", '/maintain/books' %><br>
              <%= link_to "book comments", '#' %><br>
              <div class="BottomBorderlineDiv"></div>
            <br>
            </td>
          </tr>
        </table>
        
        <TABLE cellSpacing=0 cellPadding=0 width="100%"  bgcolor="#8f7d59" >
          <TR>
            <TD class="DarkTh" vAlign=top>&nbsp;site maintain</td>
          </tr>
          <TR>
            <TD  vAlign=top class="forumRow">
              <%= link_to "members", '#' %><br>
              <%= link_to "books", '#' %><br>
              <%= link_to "comments", '#' %><br>
              <%= link_to "categories", '/maintain/categories' %><br>
              <%= link_to "lookups", '#' %><br>
              <div class="BottomBorderlineDiv"></div>
            <br>
            </td>
          </tr>
        </table>