<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
    <%=javascript_include_tag :defaults %>
	</head>
	<body>
  <div class="container">
  	<div class="header"><%= render 'layouts/header'%></div>
    <div class="round">
      <% flash.each do |key,value| %>
        <div class="flash <%=key%>"><%=value%></div>
      <%end%>
    </div>
    <div class="content">
      <%= yield %>
    </div>
    <div class="footer"><%= render 'layouts/footer'%></div>
    <%= debug(params) if Rails.env.development? %>
	</div>
	</body>
</html>
  
  <!--
  
		
		
		
  <div class="container">
	  <CENTER>
	  <TABLE border=0 cellSpacing=0 cellPadding=0>
	    <TR>
	      <TD style="BACKGROUND: url(skin/body/1/images/bgleft.gif) repeat-y center top" width=67></TD>
				
	      <TD bgColor=#cbbb8d width=800>
        <TABLE border=0 cellSpacing=0 cellPadding=0 width=800>
        	<tr>
        		<td rowspan=3  class=titlegray align=middle>
        			<%= render 'layouts/header'%>
        		</td>
        	</tr>
          <tr>
          	<td rowspan=3  class=titlegray align=middle>
          		<section class="round">
		            <% flash.each do |key,value| %>
		              <div class="flash <%=key%>"><%=value%></div>
		            <%end%>
		          </section>
						</td>
					</tr>
					
					
          <TR>
            <TD vAlign=top width=169>
            <TABLE cellSpacing=0 cellPadding=0 width="100%" bgColor=#8f7d59>
              <TR>
                <TD class=DarkTh vAlign=top>&nbsp;作品分类</TD></TR>
              <TR>
                <TD class=LightContainerTD vAlign=top>
                  
                  <DIV class=BottomBorderlineDiv></DIV><BR>
									</TD>
							</TR>
              <TR>
                <TD class=DarkTh vAlign=top>&nbsp;本类简介</TD></TR>
              <TR>
                <TD class=LightContainerTD vAlign=top>黄易,武侠,诸幻 
                  <DIV class=BottomBorderlineDiv></DIV>
									<BR>
								</TD>
							</TR>
						</TABLE>
						</TD>
            <TD width=1></TD>
            <TD vAlign=top width=630>
                <%= yield %></TD>
					</TR>
          <tr>
            <td rowspan=3  class=titlegray align=middle>
              <%= render 'layouts/footer'%>
            </td>
          </tr>
					<TR align=middle><TD class=copyright width="100%" rowspan=3>&nbsp;</TD></TR>
          <tr><td rowspan=3  class=titlegray align=middle><%= debug(params) if Rails.env.development? %></td></tr>
        </TABLE>
				</TD>
        <TD style="BACKGROUND: url(skin/body/1/images/bgright.gif) repeat-y center top" width=67></TD>
		  </TR>
		</TABLE>
		</CENTER>
		-->
		
		
		
