<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
    <%=javascript_include_tag :defaults %>
	</head>
	<body>
  <center>
	<!-- Book: 頁面head -->
	<TABLE  cellSpacing=0 cellPadding=0  border=0 width=100% >
	  <tr>
	    <td class="TdLeftSide" ></td><!--左侧空白-->
	    <!--中间内容-->
	    <td  width=100% >
	    	
	      
				<%= render 'layouts/header'%>
				
				<% flash.each do |key,value| %>
          <div class="flash<%=key%>"><%=value%></div>
        <%end%>
				
				<TABLE cellSpacing=0 cellPadding=0  width=100% border=1>
				  <TR>
				    <TD class="TdLeftMenuFrame" vAlign=top>
				    	<%=render 'layouts/author_menu'%>
						</td>
				    <TD width="1px"></TD>
				    <TD class="TdRightContentFrame" vAlign=top>
				    <%= yield %>
				    </td>
				  </tr>
				</table>

				<%= render 'layouts/footer'%>
      
				
				
			</td>
      <td class="TdRightSide"></td><!--右侧空白-->
	  </tr>
	</table>
	<div><%= debug(params) if Rails.env.development? %></div>
	
	</body>
  </center>
</html>
  
		
		
